<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title> 
    <link href= "/assets/style.css" rel="stylesheet" type="text/css" />
</head>
<body>

    <main>  

    <%bakedgoods.forEach(element => {%>
        <div class="baked-item"> 
        <%let indexno = bakedgoods.indexOf(element)%> 
        <a href="/show/<%=indexno%>">   
        <h3>  <%=element.name%> </h3>
        </a> 
        <p> $ <%=element.price%> </p>
       
        </div>

    <%})%>

    </main>
    
</body>
</html>