<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Baked Goods Menu</title> 
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Righteous&display=swap" rel="stylesheet">
    <link href= "/assets/style.css" rel="stylesheet" type="text/css" />
</head>
<body>

    <h1> Baked Goods Menu</h1>

    <main>  

    <%bakedgoods.forEach(element => {%>
        <div class="baked-item"> 
        <%let indexno = bakedgoods.indexOf(element)%> 
        <a href="/show/<%=indexno%>">   
        <h3>  <%=element.name%> </h3>
        </a> 
        <p> $ <%=element.price%> </p>
       
        </div>

    <%})%>

    </main>

    <footer> 

        <a href="/index/new"> Add baked good</a>
    </footer>
    
</body>
</html>