<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href= "/assets/style.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <main> 
    <h3> <%=bakedgood.name%> </h3>
     <img src="<%=bakedgood.image%>">
     <p> <%=bakedgood.price%> </p>
    </main>

    <footer> 

        Return to <a href="/index/"> main menu</a>
    </footer>

</body>
</html>
